<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.darkhan.server</string>
  <key>UserName</key>
  <string>_darkhan</string>
  <key>GroupName</key>
  <string>darkhan</string>
  <key>WorkingDirectory</key>
  <string>/Users/YOUR_USERNAME/darkhan/server</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>/Users/YOUR_USERNAME/darkhan/server/server.js</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/YOUR_USERNAME</string>
    <key>NODE_ENV</key>
    <string>development</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/darkhan/server.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/darkhan/server.error.log</string>
</dict>
</plist>
